/* phone.css */

/* Adjustments for smaller screens */
#navbar {
    height: auto;
    flex-direction: column;
  }
  
  #logo img {
    height: 40px; /* Adjust logo size for smaller screens */
  }
  
  #navbar ul {
    flex-direction: column;
  }
  
  #navbar ul li {
    margin: 10px 0;
  }
  
  #home {
    padding: 20px; /* Increase padding for better spacing on smaller screens */
  }
  
  #services {
    flex-direction: column; /* Arrange services vertically on smaller screens */
  }
  
  .services-container {
    padding: 20px;
  }
  
  #clientsection {
    padding: 20px;
  }
  
  #contact {
    padding: 20px;
  }
  
  #contactbox form {
    width: 100%; /* Make the form full width on smaller screens */
  }
  
  #contactbox input,
  #contactbox textarea {
    width: 100%; /* Make input fields full width */
  }
  
